body {
    margin: 0;
    padding: 0;
    background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/108/905/original/Are_you_ready_for_biltong_bliss__%F0%9F%A4%A9_Cowboy_Biltong's_Traditional_WET___FATTY_variety_is_a_mouthwatering_revelation!_%F0%9F%92%A7_With_its_delectable_wet_and_fatty_texture__it's_a_treat_that'll_keep_you_coming_back_for_more_.jpeg?1704133920") center/cover fixed; /* Replace with your actual image path */
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

div {
    background: rgba(255, 255, 255, 0.9); /* Set the background color with some transparency */
    margin: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}


h1, h2 {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    color: chocolate;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    border: 1px solid coral;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    border-radius: 10px;
}

p {
    font-size: 1em;
    margin: 20px 0 10px;
}

a {
    font-size: 0.8em;
    margin-top: 10px;
    text-decoration: none;
    color: chocolate;
}

a:hover {
    text-decoration: underline;
}

button {
    display: block;
    margin: 20px auto;
    background: orangered;
    color: white;
    font-size: 1em;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #ff704d;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

span {
    font-size: 0.9em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

